{% extends "layout.html" %}
{% block content %}
    <h1>Home</h1>
<form method="post" action = "#">
    <button type="submit" style="background:#1b579e; border-radius:3px; padding:3px 5px; color:#fff;" class="btn"><a href = "{{ url_for('about') }}">Home Page</a></button>
</form>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

a{color:#fff !important; text-decoration:none;}

</style>
{% endblock content %}